# Redmi AX5
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_redmi_ax5=y
CONFIG_TARGET_ROOTFS_INITRAMFS=n

# CCACHE
CONFIG_DEVEL=y
CONFIG_CCACHE=y

# OWRT NSS
CONFIG_FEED_nss_packages=n
CONFIG_FEED_sqm_scripts_nss=n
CONFIG_NSS_FIRMWARE_VERSION_11_4=n
CONFIG_NSS_FIRMWARE_VERSION_12_5=y

# Packages
CONFIG_FEED_video=n
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-rp-pppoe-server=y